.navBar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
}
.navBar > li {
    padding: 0.5em;
}

.logo {
    padding-right: 2em;
    color: red;
}